---
import NavBar from "../components/NavBar.tsx"
---

<html>
  <head>
    <title>My Astro Project</title>
  </head>
  <body>
    <NavBar />
    <main>
      <h1>Welcome to processing!</h1>
      <!-- Tu contenido aquí -->
    </main>
  </body>
</html>

